jenkins:
  systemMessage: "Jenkins configured via Ansible & JCasC"
  numExecutors: 0
  mode: EXCLUSIVE
  scmCheckoutRetryCount: 2
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "admin"
          password: "${JENKINS_ADMIN_PASSWORD}"
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false

unclassified:
  location:
    url: "http://{{ jenkins_hostname }}/"